<% @head = @article.title + " - " %>
<div class="topnav">
  <a class="active" href="https://maya-dog-walking.herokuapp.com/">Home</a>
  <a href="https://maya-dog-walking.herokuapp.com/availablity">Availablity</a>
  <a href="https://maya-dog-walking.herokuapp.com/details">Details</a>
  <a href="https://maya-dog-walking.herokuapp.com/articles">Articles</a>
</div>
<%= link_to 'Edit', edit_article_path %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %> |
<%= link_to 'Back to articles', articles_path %>
<h1> <%= @article.title %> </h1>
<p> <%= @article.description %> </p>
